@keyframes slide-up {
  0% { transform: translateY(100%); }
  100% { transform: translateY(calc(100% - 2rem)); }
}

.app-support {
  @include position-short(fixed, auto, 10px, 0, auto);
  z-index: 1000000;

  display: flex;
  flex-direction: column;

  width: 400px;
  min-height: 30rem;

  border-radius: 4px 4px 0 0;
  background-color: rgba(255, 255, 255, 0.99);

  animation: 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) 1s slide-up;
  animation-fill-mode: backwards;

  transition: transform 1s;
  // Either we hard code the height of the title bar, or the hight of the
  // content - there's no way to have the transition go the correct distance
  // without one of them. Easier to set the title size because it's only one
  // line.
  transform: translateY(0);

  &.minimized {
    transform: translateY(calc(100% - 2rem));
    .title svg {
      transform: rotate(-180deg);
    }
  }
  &.hidden {
    display: none;
  }

  .title {
    background-color: $trust-blue;
    color: white;
    padding: 0.5rem 1vw;
    border-radius: 4px 4px 0 0;
    display: flex;
    align-items: center;
    height: 2rem;
    cursor: pointer;

    .fill { flex: 1; }
    &:hover {
      background-color: lighten($trust-blue, 5%);
    }

    .action-wrapper { display: inherit; }
    svg {
      width: 20px;
      height: 20px;
      padding: 3px;
      border-radius: 4px;

      transition: transform 1s;
      transform: rotate(0deg);

      &:hover {
        background-color: lighten($trust-blue, 20%);
      }
      * { fill: white; }
    }
  }

  .main {
    // Another option - position the main window relative to the title.
    // @include position-short(absolute, 100%, 0, auto, 0);

    // Using px for horizontal padding because the panel is fixed width.
    padding: 0.5rem 10px;
    flex: 1;
    border-left: 2px solid $grey-3;
    border-right: 2px solid $grey-3;

    .error {
      color: red;
    }

    &.search {
      display: flex;
      flex-direction: column;
      flex: 1;

      input {
        display: block;
        width: 100%;
      }
      .articles {
        flex: 1;
        display: flex;
        flex-direction: column;

        a {
          display: flex;
          align-items: center;

          padding: 0.5rem;
          border-bottom: 1px solid #aaa;
          min-height: 4rem;
        }
      }

      .other-options {
        margin: 1rem 0 0;
        text-align: center;

        a {
          display: block;
          background: #343F53;
          color: $tm-sky-light;
          margin: 0.5rem;
          &:hover { background: $tm-dark-green; }
        }
      }
    }
  }
}
