// external imports must come first.
@import "_fonts";
@import "_mixins";
@import "_text-inputs";
@import "_triangle";

@import "_normalize";
@import "_layout";
@import "_utilities";
@import "_forms";
@import "_popper";

@import "components/app-calendar";
@import "components/app-carousel";
@import "components/app-currency-input";
@import "components/app-percent-input";
@import "components/app-import";
@import "components/app-modal";
@import "components/app-toggle";
@import "components/app-alerts";
@import "components/app-support";
@import "components/app-braintree-paypal";
@import "components/app-property-managers";
@import "components/app-question";
@import "components/app-date-range";
@import "components/app-discounts";

@import "dashboard";
@import "dashboard/reservations";
@import "user";
@import "import";
@import "listing";
@import "listing/customize";
@import "populate";
@import "login";
@import "error";
@import "data";
@import "vrma";
@import "rezfest";
@import "property-managers";
@import "priceoff";
@import "market-data";
@import "booking-dot-com";
@import "loading";

@import "index";
@import "about";
@import "pricing";
@import "how-it-works";


body.maintenance {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  article {
    flex: none;
    align-self: center;
    min-height: auto;
  }
}

body.privacy, body.terms, body.faq { article {
  padding: 6vh 3vw 8vh;
  max-width: 800px;
  margin: auto;
  font-family: $fontFamilyLearn;

  h1,h2,h3 {
    font-family: $fontFamilyBody;
    font-weight: 300;
  }

  h2 {
    margin-top: 4rem;
    &.highlight {
      animation: highlightText 4s;
    }
  }

  h3 {
    font-size: 1.2rem;
    margin-top: 2rem;
  }

  p { margin: 1rem 0; }
  .title { text-align: center; }
  .level-2 { padding-left: 20px; }
}}

body.faq article {
  // Make sure we can deep link to the bottom question.
  padding-bottom: 80vh;
}

@keyframes highlightText {
  0% { color: $orange; }
  100% { color: inherit; }
}


body.user-billing article {
  h3 {
    font-size: 1.2rem;
    margin-top: 2rem;
  }
}

.sign-up-details {
  color: $grey-2;
  font-size: .8rem;
}

body.front article {
  padding: 0.5rem 5vw;
  text-align: left;

  h1 {
    font-size: 1.2rem;
    text-align: center;
  }

  .stats > div {
    display: flex;

    > div {
      margin: 0 3px;
      text-align: right;
    }
    > div:nth-child(1) {
      font-weight: bold;
      flex: 2;
    }
    > div:nth-child(2) {
      flex: 1;
    }
  }
  .accounts > div {
    display: flex;
    > * { margin: 0 3px; }
    > *:nth-child(1) { flex: 2; }
    > *:nth-child(2) {
      flex: 1;
      text-align: right;
    }
  }

  img {
    display: block;
    margin: auto;
  }
}

@import "ember-power-select";
