body[class$=" booking-dot-com"] {
  header {
    display: none;
  }

  .header {
    background-color: white;
    border-bottom: 1px solid #888;
    padding: 1rem 0;

    .logos {
      display: flex;
      align-items: center;
      padding: 0 3vw;
    }

    svg:nth-child(1) { width: 200px; }
    svg:nth-child(2) {
      width: 8px;
      margin: 0 3vw;
    }
    svg:nth-child(3) {
      // Compensate for descending g in booking logo
      margin-bottom: -3px;
      width: 200px;
    }
  }

  .splash {
    background: #F7F8FA;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 0;

    h1 {
      font-size: 2.75rem;
      margin-bottom: 1rem;
    }

    .left {
      padding: 10vh 2rem 0;
      flex: 60;

      .screenshot {
        display: block;
        margin-top: 4rem;
        max-width: 100%;
      }
    }

    .credentials {
      background-color: white;
      border: 2px solid $tm-dark-blue;
      border-radius: 4px;
      margin: 2rem;
      flex: 40;

      .title {
        background: $tm-dark-blue;
        color: white;
        padding: 1rem;
        text-align: center;
        font-size: 1.5rem;
      }

      .form {
        padding: 2rem;
      }
    }
  }

  article {
    a.more-info {
      color: white;
      padding: 1rem;
      border-radius: 2px;
    }

    h1 {
      font-size: 3.5rem;
      color: #343F53;
      font-weight: normal;
      line-height: 1.2;
      text-align: left;
    }
  }

  .modernizing {
    h2 {
      color: white;
      background-color: $tm-dark-blue;
      // color: $tm-dark-blue;
      font-size: 2.5rem;
      padding: 12rem 2vw 1rem;
      text-align: center;
      font-weight: normal;
    }
    .row {
      .content {
        display: flex;
        align-items: center;
        padding: 6rem 0;
        > * { flex: 1; }

        .media > * {
          display: block;
          margin: auto;
          max-width: 100%;
        }
      }
      &:nth-child(even) {
        background-color: $grey-4;
        .content { flex-direction: row-reverse; }
        .media { margin-left: 3vw; }
      }
      &:nth-child(odd) {
        .media { margin-right: 3vw; }
      }
      a { display: table; }
      h3 { font-size: 1.8rem; }
      p { margin: 1rem 0; }
    }
  }

  .more-info-wrapper {
    text-align: center;
    padding: 2rem 0;

    .more-info {
      @include button($tm-bp-green, false);
      padding: 1rem 5vw;
    }
  }
}
