body.dashboard-populate-all, body.dashboard-populate-account, body.user-account-refresh {
  .cover {
    @include position-short(fixed, 0, 0, 0, 0);
    background-color: rgba(241, 241, 241, 0.9);
    z-index: 1;
  }

  article .content {
    z-index: 2;
    @include position-short(fixed, 0, 0, 0, 0);
    padding: 1rem;
    // max-width: 400px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
      font-size: 2.6em;
      font-weight: 400;
      line-height: 1;
    }

    p { margin: 8px 0 40px; }
  }
}


.global-spin {
  height: 100px;
  width: 100px;
  margin: 2rem auto;

  > svg {
    // Super high CPU usage on SVG animations, especially in firefox. Promote
    // to a new layer.
    transform: translateZ(0);
    will-change: transform;

    animation: spinner 3s infinite linear reverse;
    fill: rgb(92, 209, 246);
  }
}
