body.login, body.sign-up, body.user, body.forgot {

  article {
    // min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 auto;
    text-align: center;
  }
  main {
    flex: 1 0 auto;
    padding: 10vh 0
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 600;
  }

  form { margin-top: 30px; }

  .cal-image {
    display: block;
    margin: auto;
    align-self: center;
    img { max-width: 80vw; }
  }
}
