body.dashboard-populate-all, body.dashboard-populate-account, body.user-account-refresh {
  .did-you-know {
    font-style: italic;
    font-size: 22px;
    margin-top: 20px
  }

  .back {
    font-size: 0.9rem;
    margin-top: 50px;
  }
}
