
* {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 10vw 100% 10vw;
  grid-gap: 1em;
  font-family: 'Source Sans Pro', sans-serif;
}

header,
footer {
  grid-column: 1 / span 2;
}

body {
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
}

header,
aside,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
}

aside {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

h1 {
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #343434;
}

/* NAV */

#navigation {
  max-width: 300px;
  list-style-type: none;
  overflow: auto;
}

#navigation h4 {
  margin-bottom: 8px;
}

#navigation ul {
  list-style: none;
  padding: 0;
  margin-bottom: 12px;
}

#navigation li > a {
  /* all menu items */
  display: block;
  padding: 6px;
  margin: 4px 0;
  text-decoration: none;
}

#navigation li > a:hover {
  background: #f5faff;
}

#navigation > ul > li > a {
  /* categories */
  font-size: 18px;
  margin-bottom: 8px;
}

#navigation li ul a {
  /* components */
  margin-left: 12px;
  color: rgba(0, 0, 0, .54);
}

.section {
  font-size: 1.3rem;
  color: #343434;
  margin-bottom: -10px !important;
}

.component {
  width: 100%;
  padding: 1rem;
  border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  border: 1px solid #ededed;
  margin-bottom: 10px;
}

/* Buttons */

.primary-button {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  background: #34b2d9;
  padding: 15px 25px 15px 25px;
  text-decoration: none;
  width: auto;
  max-width: 10rem;
}

.primary-button:hover {
  background: #3cb9fc;
  text-decoration: none;
}